<div class="container">
    <h4>{{appTitle}}</h4>

    <div class="jumbotron">
            <div class="controls form-inline customMarginBottom">
                <a href="#!/pets" ng-disabled="false" class="btn btn-lg btn-success customLinks glyphicon glyphicon-baby-formula">
                    Pets
                </a>
                <a href="#!/pets" ng-disabled="true" class="btn btn-lg btn-success customLinks">
                    Agenda
                </a>
                <a href="#!/pets" ng-disabled="true" class="btn btn-lg btn-success customLinks">
                    Estoque
                </a>
                <a href="#!/pets" ng-disabled="true" class="btn btn-lg btn-success customLinks">
                    Financeiro
                </a>
                <a href="#!/pets" ng-disabled="true" class="btn btn-lg btn-success customLinks glyphicon glyphicon-user">
                    Configurações
                </a>
                <a href="#!/pets" ng-disabled="true" class="btn btn-lg btn-success customLinks">
                    Relatórios
                </a>
            </div>
    </div>

</div>
