<div class="container">
	<h4>{{appTitle}}</h4>

	<div class="jumbotron">
		<div>Informe o nome do pet</div>
		<form name="searchForm">
			<div class="controls form-inline customMarginBottom">
				<input type="text" class="form-control" placeholder="Pesquise pelo pet ou dono"
					ng-model="petName"	name="petName" ng-required="true" ng-minlength="3" ng-maxlength="50"
					ng-change="pets.rows = []"/>

				<button ng-click="searchPet(petName)" ng-disabled="searchForm.$invalid" class="btn btn-lg btn-success">
					Pesquisar
				</button>
		    	</div>

			<div ng-hide="searchForm.$valid || searchForm.$pristine">
			        <div ng-show="searchForm.petName.$error.required" class="alert alert-danger" role="alert">
			        	Por favor, informe o nome do pet
			        </div>
			        <div ng-show="searchForm.petName.$error.minlength" class="alert alert-warning" role="alert">
			        	<strong>Aviso!</strong> Necessário no mínimo 3 letras
			        </div>
			        <div ng-show="searchForm.petName.$error.maxlength" class="alert alert-warning" role="alert">
			        	<strong>Aviso!</strong> Máximo 50 letras
			        </div>
			</div>
		</form>
	</div>

	<div class="jumbotron">
		<div>Pesquisa pelo nome: {{petName}}</div>
		<loading class="spinner" ng-show="loading"></loading>
		<div ng-show="petsNotFound" class="alert alert-info" role="alert">Nenhum pet encontrado</div>
		<div ng-show="errorRest" class="alert alert-danger" role="alert">Ocorreu um erro ao pesquisar</div>
		<div ng-show="pets.length > 0">
			<table class="table table-bordered customWhiteBG">
				<tr class="customSilverBG">
					<th><a href="" ng-click="orderBy('id')">Código</a></th>
					<th><a href="" ng-click="orderBy('name')">Nome</a></th>
					<th><a href="" ng-click="orderBy('owner')">Dono</a></th>
				</tr>
				<tr ng-repeat="pet in pets | filter:petName | orderBy:field:direction">
					<td><a href="#!/pets/{{pet.id}}" ng-click="setFilters(pet)">{{pet.id}}</a></td>
					<td><a href="#!/pets/{{pet.id}}" ng-click="setFilters(pet)">{{pet.name}}</a></td>
					<td><a href="#!/pets/{{pet.id}}" ng-click="setFilters(pet)">{{pet.owner}}</a></td>
				</tr>
				<tr class="customSilverBG">
					<td colspan="3" align="left">Total de pets encontrados: {{pets.length}}</td>
				</tr>
			</table>
		</div>
	</div>

</div>
